<nav class="navbar">
  <div class="container">
    <div class="nav-content">
      <div class="logo">
        <img src="assets/images/logo.png" alt="Comidas Light Logo" class="logo-img">
        <span class="handwritten handwritten-medium">{{ businessName }}</span>
      </div>
      
      
      
      <!-- Menú de navegación -->
      <div class="nav-menu" [class.active]="menuOpen">
        <button 
          *ngFor="let item of menuItems" 
          class="nav-btn"
          (click)="navigateToSection(item.section)"
        >
          {{ item.label }}
        </button>
      </div>
    </div>
  </div>
</nav>